@use '../../colors';

#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

#homepage-content {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

#homepage-photo {
  border-radius: 15px;
  grid-column: 1;
  max-width: 500px;
  height: auto;
}

#homepage-content {
  display: grid;
  grid-template-columns: minmax(200px, 500px);
  grid-template-rows: minmax(min-content, 50px) 1fr 1fr;
  grid-column: 2;
  width: minmax(200px, 500px);
  height: 500px;

  #homepage-header {
    font-size: 30px;
    padding-bottom: 40px;
  }

  #homepage-description {
    line-height: 1.4;
    overflow-wrap: break-word;
  }
}