#menu-title {
  justify-self: center;
  align-self: center;
  font-size: 50px;
  font-weight: 800;
}

#menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  padding: 30px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 1fr 40px;
  border: 1px black solid;
  padding: 20px;
}

.item-name {
  grid-column: 1 / -1;
  grid-row: 1;
  justify-self: center;
  font-size: 30px;
  font-weight: 800;
}

.item-description {
  // align-self: center;
}

.item-img {
  width: 200px;
  grid-column: 1;
  grid-row: 2;
  // align-self: center;
  justify-self: center;
}

.item-price {
  grid-row: 3;
  grid-column: 2;
  // align-self: end;
  justify-self: end;
}