@use './colors';

body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
}

.page {
  grid-row: 2;
  grid-column: 1 / -1;
  justify-self: center;
  background-color: colors.$color1
}

#content {
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  height: 100vh;

  .page {
    width: 75vw;
  }

  #photo {
    grid-row: 2;
    grid-column: 1;
  }

  #info {
    grid-row: 2;
    grid-column: 2;
  }

  #homepage {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}